td:hover {
    transition: all 0.5s ease-in-out;
    background-color: #88a;
    color: #111;
}
tr, th {
    color: cornsilk;
}
tr, td {
    color: white;
    padding: 3px;
}
th {
    text-align: left;
    border-bottom: 1px solid #888;
}
table {
    width: 100%;
}