form {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
    background: #444;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#contact {
    font-family: 'Lato', sans-serif;
    background: #111;
    padding: 25px;
    margin: 150px 0;
    border-radius: 8px;
}

/*Make the #links look like a really professionally done horizontal navbar*/
#links {
    font-family: 'Lato', sans-serif;
    padding: 25px;
    margin: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}

#links>ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

#links>ul>a>li {
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.5s ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}

#links>ul>a {
    color: #ccc;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
    text-decoration: none;
}

#links>ul>a>li:hover {
    border-bottom-color: #444;
    color: #fff;
}


h1 {
    margin: 0 0 30px 0;
    text-align: center;

}

h2 {
    margin: 0 0 30px 0;
    text-align: center;
}
